{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p style="white-space: pre-line;">Motivo del cuestionario:<br/> {{textoEnvioCuestionario}}</p>
<p>Como parte de la inspección iniciada y como paso previo a la misma, se envían las instrucciones para acceder y cumplimentar el cuestionario de esa Unidad con fecha límite de envío el {{fechaLimite}}.</p>
<p>Habrá que proceder del siguiente modo:</p>
<p>1. Para responder el cuestionario debe conectarse a la aplicación PROGESIN mediante el enlace <span style="color:blue">{{URLPROGESIN}}</span>.<br/><br/>
&#10004; Los usuarios de acceso a la aplicación son:<br/>
Usuario principal:<br/>
{{correoPrincipal}}<br/><br/>
Usuarios secundarios:<br/>
{{correosProvisionales}}<br/>
&#10004; La contraseña de acceso para todos los usuarios es: <span style="color:blue">{{ password }}</span></p>
<p>2. Inicialmente sólo se encuentra activo el usuario principal, que será el encargado de distribuir las diferentes áreas del cuestionario al resto de usuarios provisionales si así lo desea.</p>
<p>3. Sólo los usuarios con áreas asignadas tendrán acceso y podrán conectarse para responder las preguntas de sus diferentes áreas.</p>
<p>4. Los usuarios provisionales pueden guardar como borrador el trabajo realizado y solamente el usuario principal podrá enviar el cuestionario cuando estén todas y cada una de la preguntas respondidas de cada área.</p>
<p>5. Una vez enviado el cuestionario cumplimentado y validado por esta IPSS, su usuario de la aplicación PROGESIN quedará inactivo.</p>
<p>Tienen a su disposición un manual de usuario donde se especifica como cumplimentar el cuestionario.</p>
<p><strong>POR FAVOR, CONFIRME LA RECEPCIÓN DEL PRESENTE CORREO ELECTRÓNICO A LA DIRECCIÓN DE CORREO </strong><span style="color:blue">{{ApoyoCorreo}}</span>.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciban un cordial saludo.</p>
{% endblock %}