{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>{{textoEnvioCuestionario}}</p>
<p>Para responder el cuestionario debe conectarse a la aplicación PROGESIN. El enlace de acceso a la aplicación es <span style="color:blue">{{URLPROGESIN}}</span>.</p>
<p>Los usuarios de acceso a la aplicación son:</p>
<p>{{correosProvisionales}}</p>
<p>La contraseña de acceso para todos los usuarios es: <span style="color:blue">{{ password }}</span>.<br/>
En un primer momento, sólo el usuario principal tienes acceso a la aplicación, él cuál puede asignar áreas del cuestionario al resto de usuarios.<br/>
Sólo los usuarios con áreas asignadas tendrán acceso y podrán guardar el cuestionario como borrador.<br/>
Sólo el usuario principal ({{correoPrincipal}}) tiene permisos para enviar el cuestionario.<br/>
</p>
<p>Una vez enviado el cuestionario todos los usuarios quedarán inactivos.</p>
<p>Muchas gracias y un saludo.</p>
{% endblock %}