{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>A la vista de la documentación previa enviada por esa Unidad y una vez analizada, esta Inspección de Personal y Servicios de Seguridad considera que en la misma faltan documentos/datos necesarios, por lo que se solicita:</p>
<p style="white-space: pre-line;">{{textoNoConformidad}}</p>
<p>Para dar cumplimiento a dicho trámite, deberá conectarse a la aplicación software, Programa de Gestión de Inspecciones “PROGESIN”, mediante el enlace de acceso a la aplicación <span style="color:blue">{{ URLPROGESIN }}</span> con el usuario y contraseña con el que está registrado.</p>
<p>En caso de haber perdido dicha información póngase en contacto con el administrador de la aplicación a través del correo electrónico: <span style="color:blue">{{ ApoyoCorreo }}</span>.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciban un cordial saludo.</p>
{% endblock %}