{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>En virtud de lo establecido por la Instrucción núm. 5/2015, de la Secretaría de Estado de Seguridad, sobre organización y funciones de la Inspección de Personal y Servicios de Seguridad y en relación con el Plan Anual de Inspecciones aprobado por el Secretario de Estado de Seguridad, se participa que por personal de esta Subdirección, se va a realizar una  Inspección ({{tipoInspeccion}}) a esa Unidad.</p>
<p>En la primera fase de la inspección, se realizará la recopilación de información y datos, de vital importancia para que el equipo inspector. Dicha recopilación se realizará a través de la aplicación software, Programa de Gestión de Inspecciones “PROGESIN”.</p>
<p>En resumen, mediante la aplicación PROGESIN deberán realizarse las siguientes tareas secuencialmente:</p>
<p>1. A la mayor brevedad posible, como máximo 3 días hábiles, tras la recepción del presente correo, deberá grabar los datos de contacto del interlocutor de esa Unidad. Para cumplimentar estos datos debe conectarse a la aplicación PROGESIN.<br/> 
&#10004; El enlace de acceso a la aplicación es <span style="color:blue">{{ URLPROGESIN }}</span><br/>
&#10004; El usuario de acceso es el correo electrónico de la Unidad.<br/>
&#10004; Contraseña: <span style="color:blue">{{ password }}</span>
</p>
<p>2. Se enviará un cuestionario confeccionado por esta IPSS que deberán cumplimentar y enviar.</p>
<p>Una vez enviado el cuestionario cumplimentado y validado por esta IPSS, su usuario de la aplicación PROGESIN quedará inactivo.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciban un cordial saludo.</p>
{% endblock %}