{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>En relación con las anteriores comunicaciones de esta Inspección de Personal y Servicios de Seguridad, con las que se solicitaba una serie de documentación, para enviarla conectándose a la aplicación PROGESIN, se le recuerda que HOY FINALIZA EL PLAZO OTORGADO por esta IPSS para el envío de la documentación.</p>
<p>En caso de no enviarla hoy, mañana deberá comunicar a esta Inspección las causas del retraso, a través del correo electrónico: <span style="color:blue">{{ ApoyoCorreo }}</span>.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciban un cordial saludo.</p>
{% endblock %}