{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>{{textoEnvioCuestionario}}</p>
<p>Para responder el cuestionario debe conectarse a la aplicación PROGESIN. El enlace de acceso a la aplicación es <span style="color:blue">{{enlaceProgesin}}</span>.</p>
<p>Los usuarios de acceso a la aplicación son:</p>
<p>{{correosProvisionales}}<br/>
</p>
<p>La contraseña de acceso para todos los usuarios es: <span style="color:blue">{{ password }}</span>.<br/>
Sólo el usuario principal ({{correoPrincipal}}) podrá enviar el cuestionario, el resto de usuarios solamente podrá guardar el cuestionario como borrador.</p>
<p>Una vez enviado el cuestionario todos los usuarios quedarán inactivos.</p>
<p>Muchas gracias y un saludo.</p>
{% endblock %}