{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>En relación con una anterior comunicación de esta Inspección de Personal y Servicios de Seguridad, con la que se solicitaba el envío del cuestionario cumplimentado por esa Unidad, conectándose a la aplicación PROGESIN, se le recuerda que faltan 5 día/s para que finalice el plazo otorgado por esta IPSS.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciba un cordial saludo.</p>
{% endblock %}