<!DOCTYPE html>
<html>
    <head>
    <title>Comunicación PROGESIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h3>NOTA IMPORTANTE</h3>
        <p>
            Para cualquier comunicación o respuesta que deba hacer sobre este correo, <span style="color:blue">NO deberá responder a este correo, sino que deberá dirigirse a la Inspección de Personal y Servicios de Seguridad</span>, los datos de contacto son:
        </p>
        <ul>
            <li>Correo electrónico: <span style="color:blue">{{ApoyoCorreo}}</span></li>
            <li>Teléfono: {{ApoyoTelefono}}</li>
        </ul>
        <hr style="color:blue;"/>
        
        {% block contenido %}
        <p style="white-space: pre-line;">{{cuerpo}}</p>
        {% endblock %}
        
        <hr style="color:blue;"/>
        <br/>
        <table>
            <tbody>
                <tr>
                    <td><img src="cid:imagenfirma"/></td>
                    <td style="text-align: center; font-size: 0.8em; color:blue">
                        <p>{{ApoyoSecretaria}}</p>
                        <p>{{ApoyoPuesto}}</p>
                        <p>
                            {{ApoyoDireccion}}<br/>
                            Tfno: {{ApoyoTelefono}} - Fax: {{ApoyoFax}}<br/>
                            Correo electrónico: {{ApoyoCorreo}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>