{% extends "/static/templates/templateCorreoBase.html" %}

{% block contenido %}
<p>En relación con una anterior comunicación, en la que esta Inspección de Personal y Servicios de Seguridad solicitaba el envío del cuestionario cumplimentado, se modifica el plazo dado para enviarlo conectándose a la aplicación PROGESIN, en el siguiente sentido.</p>
<p>Fecha límite de envío anteriormente otorgado: <span style="color:blue">{{ fechaAnterior }}</span>.</p>
<p>Fecha límite en la que deberá enviar el cuestionario cumplimentado: <span style="color:blue">{{ fechaActual }}</span>.</p>
<p>Agradeciendo de antemano su colaboración, quedamos a su disposición.</p>
<p>Reciba un cordial saludo.</p>
{% endblock %}