.checkboxes-all {
   text-align: justify;
}

.checkboxes-all .all .ui-chkbox, .checkboxes-all .ui-selectmanycheckbox .ui-chkbox {
    margin: 1px 4px 0 0;
    vertical-align: top;
}

.checkboxes-all .all label {
    display: inline-block;
    font-size: 14px !important;
    font-weight: bold;
    font-style: italic;
}
.checkboxes-all .ui-selectmanycheckbox label {
    white-space: pre-line;
}