@CHARSET "UTF-8";

/* sobreescritura de los estilos propios de primefaces */

.ui-menu {
    width: auto;
}

.ui-button {
	margin-right: 1em;
}

/* fondo de las tablas*/
.ui-widget-content {
} 

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: inherit;
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td {
    white-space: normal;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-datatable-odd {
    background: #f0f7ff;
}


/* sobreescritura de los estilos propios de primefaces fin */

body {
	overflow: visible;
}

h1, h2, h3 {
    line-height: 20px;
}

#headerDatos {
	float: right;
	padding: 10px;
}

#menuLateral{
	width: 25%;
	float: left;
}

#contenido {
	width: 70%;
	float:left;
	height: auto;
	padding: 10px;
}

.menu {
    background: url(../images/menu.jpg) no-repeat;
    height: 32px;
    padding-top: 0.5em;
    font-size: 14px;
}

.menu-lista li {
    display: inline;
    background: url(../images/menu_separator.gif) no-repeat scroll left
 center transparent;
    float: right;
}


.menu-lista li a {
    text-transform: uppercase;
    padding: 0 15px 0 15px;
}

.menu a {
    color: #FFF;
    font: 1em;
}

.container-fluid {
    background-color: #fff;
    max-width: 950px;
    margin: auto;
    padding: 1em;
    padding-top: inherit;
    font-size: 12px;
}

.bloqueFormulario{
	width: 100%;
	height: auto;
	display: table;
	padding: 20px 20px 20px 0px;
}

.columnaIzdaFormulario {
	width: 40%;
	float: left;
}

.columnaDchaFormulario {
	width: 40%;
	float: right;
}

input, textarea, .uneditable-input {
   width: 100%; /* para que no coja el tamaño de bootstrap */
}

.clear {
	clear: both;
}

#alertas {
	height: 360px;
	margin-top: 10px;
}

#notificaciones {
	height: 360px;
	margin-top: 10px;
}

.textoDerecha {
	text-align: right;
}

.botonesFormulario {
	padding: 30px;
	text-align: center;
}

.botonesFormularioEquipos {
	padding: 5px;
	text-align: center;
}

table {
	background-color: transparent;
}

select {
	margin-bottom: 10px !important;
}

.aclaraciones {
	padding: 10px;
	font-style: italic;
}

.centrarBotonesDialog{
	text-align: center;
}

.botonTabla{
	width:30px
}