@CHARSET "UTF-8";

.ui-menu {
    width: auto;
}

.menu-lista li {
    display: inline;
  /*  background: url("../images/menu_separator.gif") no-repeat scroll left center transparent;*/
    float: right;
     -moz-border-radius: 20px;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background-color: blue;
   	margin-left: 5px;
}

.menu {
    /*background: url(../images/menu.jpg) no-repeat;*/
    height: 32px;
    padding-top: 0.5em;
    font-size: 14px;
}

.menu-lista li a {
    text-transform: uppercase;
    padding: 0 15px 0 15px;
}

.menu a {
    color: #FFF;
    font: 1em;
}
