@CHARSET "UTF-8";

/* sobreescritura de los estilos propios de primefaces */
.ui-menu {
    width: auto;
}

.ui-button {
    margin-right: 1em;
}

/* esconder opciones deshabilitadas en select */
.ui-selectonemenu-panel.hideDisabled .ui-selectonemenu-item.ui-state-disabled
    {
    display: none !important;
}

/* fondo de las tablas*/
.ui-widget-content {
    
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td,
    .ui-datatable-resizable tfoot td {
    white-space: normal;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-datatable-odd {
    background: #f0f7ff;
}

.ui-accordion-content {
    padding: 1em !important;
}

.ui-dialog.ui-widget-content .ui-dialog-title {
    font-size: 16px;
}

.ui-wizard-step-title {
    font-size: 14px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly],
    select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee !important;
    opacity: inherit !important;
}

ui-datepicker-unselectable ui-state-disabled {
    opacity: 0.35 !important;
}

.ui-autocomplete {
    width: 100% !important;
}

.ui-paginator-rpp-options {
    width: 8% !important;
    background-color: #fff !important;
    height: 20% !important;
    margin-top: 0.5% !important;
    font-size: 100% !important;
}

/* sobreescritura de los estilos propios de primefaces fin */
body {
    overflow: visible;
    margin: 0;
}

h1, h2, h3 {
    line-height: 20px;
}

#headerDatos {
    float: right;
    padding: 10px;
}

#menuLateral {
    width: 22%;
    float: left;
}

#menuLateral form {
    margin: 0;
}
#contenido {
    width: 78%;
    float: left;
    height: auto;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
}

#contenidoProv {
    padding: 10px 0 0 50px;
    width: 90%;
    float: left;
    height: auto;
}

.menu {
    background: url(../images/menu.jpg) no-repeat;
    background-size: 100%;
    height: 32px;
    padding-top: 0.5em;
    font-size: 14px;
}
.pie {
    background: url(../images/menu.jpg) no-repeat;
    background-size: 100%;
    height: 32px;
    clear:both;
    transform:rotateX(180deg);
}
.ui-breadcrumb {
    float: left;
    margin-left: 1em;
    padding: 0;
}

.menu-lista li {
    display: inline;
    background: url(../images/menu_separator.gif) no-repeat scroll left
        center transparent;
    float: right;
}

.menu-lista li a {
    text-transform: uppercase;
    padding: 0 15px 0 15px;
}

.menu a {
    color: #FFF;
    font: 1em;
}

.container-fluid {
    background-color: #fff;
    max-width: 1050px;
    margin: auto;
    padding: 1em;
    padding-top: inherit;
    font-size: 12px;
    box-shadow: 1px 0px 8px 1px #888888;
    min-height: 600px;
}

.bloqueFormulario {
    width: 100%;
    height: auto;
    display: table;
    padding: 20px 20px 20px 0px;
}

.bloqueVista {
    width: 100%;
    height: auto;
    display: table;
    font: 14px Arial, Helvetica, Helvetica Neue, Georgia;
}

.tablaApoyo {
    margin: 0 auto;
}
.tablaApoyo td {
    font: 14px Arial, Helvetica, Helvetica Neue, Georgia;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}

.bloqueVistaTitulo {
    width: 100%;
    height: auto;
    display: table;
    font: 14px Arial, Helvetica, Helvetica Neue, Georgia;
    padding: 20px 20px 20px 0px;
}

.columnaIzdaFormulario {
    width: 50%;
    float: left;
    padding: 0 2% 0 1%;
    box-sizing: border-box;
}

.columnaDchaFormulario {
    width: 50%;
    float: right;
    padding: 0 2% 0 1%;
    box-sizing: border-box;
}

input, textarea, .uneditable-input, .ui-selectonemenu {
    min-height: 30px !important;
    width: 100%; /* para que no coja el tamaño de bootstrap */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

#alertas {
    margin-top: 20px;
    margin-bottom: 10px;
}

#notificaciones {
    margin-top: 20px;
    margin-bottom: 10px;
}

.textoDerecha {
    text-align: right;
}

.botonesFormulario {
    padding: 10px;
    text-align: center;
}

table {
    background-color: transparent;
}

select {
    margin-bottom: 10px !important;
}

.aclaraciones {
    padding: 10px;
    font-style: italic;
}

.centrarBotonesDialog {
    text-align: center;
}

.centrarTextoDialog {
    display: block;
    text-align: center;
}

.botonTabla {
    width: 30px
}

.tituloCuestionario {
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.prevPregCuest {
    padding-bottom: 10px;
    font: 14px Arial, Helvetica, Helvetica Neue, Georgia;
}

.respuestaCuestionario {
    margin-top: 10px;
}

.respuestaCuestionario table {
    table-layout: unset !important;
}

.ui-CommandLink-icono {
    padding: 0.4em 0.5em;
    width: 1.226em;
}

.preguntaCuestionario {
    font-weight: bold;
    text-align: justify;
    white-space: pre-line;
    display: inline-block;
}

.ui-CommandLink-icono-texto {
    padding: 0.4em 1em;
}

.ui-CommandLink-icono-texto {
    padding: 0.4em 1em;
}

.ui-CommandLink-texto {
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
}

.ui-CommandLink {
    margin-right: 1em;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.ui-CommandLink:link {
    text-decoration: none;
}

.fa {
    color: #3c82b4 !important;
}

.pdfImg {
    float: right;
    padding-bottom: 10px;
    padding-top: 0px !important;
    /* para eliminar el estilo de bootstrap*/
}

.preguntasModelo .ui-datalist-data {
    padding: 0;
}

.preguntasModelo .ui-datalist-item {
    font-size: 14px;
    margin-bottom: 5px;
}

.preguntasModelo .ui-datalist-content {
    border: none;
}

.mensajeSinResultados {
    font-weight: bold;
    color: red;
    text-align: center;
    opacity: 0;
}
/* panelGrid value*/
.value {
    width: 100%;
}

.label {
    padding-right: 20px;
}

.ui-selectoneradio label {
    padding: 4px;
}

.iconoError {
    background: no-repeat;
    background-size: 100%;
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

.icono403 {
    background-image: url('../images/error-403.png');
}

.icono404 {
    background-image: url('../images/error-404.png');
}

.icono5xx {
    background-image: url('../images/error-5xx.png');
}

.ui-orderlist ul li:nth-child(even) {
    background-color: #eee; /*#f0f7ff*/
}

.ui-orderlist ul li:nth-child(odd) {
    background-color: #fff;
}

.selectPasos {
    padding: 10px 10px;
}

.listaPaso .ui-datalist-data {
    padding: 0 10px 0 0;
    text-align: justify;
}

.listaPaso .ui-datalist-item {
    font-size: 14px;
    margin-bottom: 5px;
    white-space: pre-line;
}

.listaPaso .ui-datalist-content {
    border: none;
}

.listaPaso  ul li:nth-child(even) {
    background-color: #eee; /*#f0f7ff*/
}

.ui-messages {
    white-space: pre-line;
}

.saltoLinea {
    white-space: pre-line;
}

.tablaSinCabecera thead {
    display: none;
}

.infoInspeccionFechaLimite {
    color: #3c82b4;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 49%;
}

.anulado {
    color: #888;
}

#caminoMigas.ui-breadcrumb {
    background:none;
    border:none;
}

#caminoMigas a.ui-menuitem-link, #caminoMigas li.ui-breadcrumb-chevron {
    margin-top: 3px;
    font-size: 11px;
}

.ui-columntoggler{
    min-width: 200px;
}

button[id*="toggler"] {
    margin-right: -11px;
    top: -5px;
}

.rojo {
    color:red;
}

.negrita {
    font-weight:bold;
}

.centrado {
    text-align:center;
}

.graficaEstadisticas {
    color:#000;
    width:700px;
    height:500px
}

.columnaSeleccionTabla {
     width:16px;
     text-align:center;
}

.ui-picklist {
    width: 100%;
}

.ui-picklist-list-wrapper {
    width: 50%;
}

.ui-picklist-list {
    width: 100% !important;
}

.ui-picklist button {
    margin: 10px;
}

button.botonToggler {
    float: right;
}

.selectorMultiple {
    display: block;
    width:760px; 
    max-height: 168px;
    padding-right: 24px;
}

.selectorMultiple .ui-selectcheckboxmenu-multiple-container.ui-inputfield {
    overflow: auto;
    max-height: inherit;
}

