@CHARSET "UTF-8";

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: .8em;
    color: #3d3d44;
    background: #d5d5d6;
}
#header {
    height: 190px;
    background: url(../images/cabecera_ministerio.png )no-repeat;
    background-position: center;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

#holder {
    width: 1200px;
    height: 720px;
    margin: 0px auto 20px auto;
    border: solid 1px #ccc;
    position: relative;
    background: #ffffff;
}
#login_form {
	width:979px;
	margin-left: auto;
	margin-right: auto;
}

#login_form h1{
	text-align: center;
}

#login_form h2{
	text-align: center;
}

fieldset {
	padding: 10px;
/* 	margin: 40px 0 20px 0; */
	border: #6e80b3 solid 1px;
	clear: both;
	background: #efebeb;
	width: 250px;
}

fieldset fieldset {
	border: none;
}

fieldset.limites input {
	width: 50px;
}

legend {
	font-weight: bold;
	color: #0c0c0c;
/* 	color: #6e80b3; */
	font-size: 1.1em;
	font-variant: small-caps;
}

form#acceso label, form#alta label {
    float: none;
}

form#acceso {
    width: 500px;
    background: url(../images/fondo_password.jpg) no-repeat right;
    margin-left: auto;
    margin-right: auto;
}

label {
	display: block;
	font-weight: bold;
	color: #0c0c0c;
	font-size: .9em;
	margin: 5px 0 5px 0;
}

input,select {
	border: #ccc solid 1px;
	display: block;
	margin: 0 0 15px 0;
	width: 150px;
}

input:focus {
	border: #6e80b3 solid 1px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
	color: #3d3d44;
}


input[type="submit"],input[type="button"] {
	display: block;
	text-align: center;
	border: none;
	background: url(../images/boton_gris.png) no-repeat top;
	width: 100px;
	height: 29px;
	padding: 0 0 5px 0;
	margin: 20px 0;
	font-size: .9em;
}

button{
	margin: 20px 0;
}

input[type="submit"]:hover,input[type="button"]:hover {
	background: url(../images/boton_gris.png) no-repeat bottom;
}

#login_form h1 {
    text-align: center;
}

h1, h2 {
    font-weight: normal;
}

a:link, a:visited {
    color: #0c0c0c;
    padding: 35px;
}
a.ui-messages-close {
	padding: 0 !important; /* evitar que se aplique a enlaces de primefaces */
}

.error {
	color: red;
	padding-top: 10px;
}