* {
    line-height: 120%;
    text-align: justify;
    font-family: Arial, serif;
}

ul {
  list-style-type: disc;
}

.ql-editor {
    margin: 0;
    padding: 0;
}

div.ql-editor {
    margin: 0;
    padding: 0 10px;
}

.ql-tooltip.ql-editing {
    left: 5px !important; /* anula posición dinámica diálogo flotante enlaces */
    box-shadow: 3px 3px 4px;
}

.ql-editor ol, .ql-editor ul {
    padding-left: 0
}

.nombreInforme {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    clear:both;
    text-align: center;
    max-width:80%;
    margin: 20px auto;
}

.ql-editor ol.titulos {
    counter-reset: item;
    list-style-type: none;
    margin: 7.5pt;
}

.ql-editor ol.titulos>li .enumerado {
    counter-increment: item;
}

.ql-editor ol.titulos>li .enumerado:before {
    content: counters(item, ".") ". ";  
}

.ql-editor ol, .ql-editor ul {
    padding-left: 0pt
}

.ql-editor .ql-indent-1 {
    margin-left: 29.25pt;
}

.ql-editor li.ql-indent-1 {
    padding-left: 43.75pt;
}

.ql-editor .ql-indent-2 {
    padding-left: 58.5pt
}

.ql-editor li.ql-indent-2 {
    padding-left: 72.75pt
}

.ql-editor .ql-indent-3 {
    padding-left: 87.75pt
}

.ql-editor li.ql-indent-3 {
    padding-left: 102pt
}

.ql-editor .ql-indent-4 {
    padding-left: 117pt
}

.ql-editor li.ql-indent-4 {
    padding-left: 131.25pt
}

.ql-editor .ql-indent-5 {
    padding-left: 146.25pt
}

.ql-editor li.ql-indent-5 {
    padding-left: 160.5pt
}

.ql-editor .ql-indent-6 {
    padding-left: 175.5pt
}

.ql-editor li.ql-indent-6 {
    padding-left: 189.75pt
}

.ql-editor .ql-indent-7 {
    padding-left: 204.75pt
}

.ql-editor li.ql-indent-7 {
    padding-left: 219pt
}

.ql-editor .ql-indent-8 {
    padding-left: 234pt
}

.ql-editor li.ql-indent-8 {
    padding-left: 248.25pt
}

.ql-editor .ql-indent-9 {
    padding-left: 263.25pt
}

.ql-editor li.ql-indent-9 {
    padding-left: 277.5pt
}

.ql-editor .ql-bg-black {
    background-color: #000
}

.ql-editor .ql-bg-red {
    background-color: #e60000
}

.ql-editor .ql-bg-orange {
    background-color: #f90
}

.ql-editor .ql-bg-yellow {
    background-color: #ff0
}

.ql-editor .ql-bg-green {
    background-color: #008a00
}

.ql-editor .ql-bg-blue {
    background-color: #06c
}

.ql-editor .ql-bg-purple {
    background-color: #93f
}

.ql-editor .ql-color-white {
    color: #fff
}

.ql-editor .ql-color-red {
    color: #e60000
}

.ql-editor .ql-color-orange {
    color: #f90
}

.ql-editor .ql-color-yellow {
    color: #ff0
}

.ql-editor .ql-color-green {
    color: #008a00
}

.ql-editor .ql-color-blue {
    color: #06c
}

.ql-editor .ql-color-purple {
    color: #93f
}

.ql-editor .ql-font-serif {
    font-family: Arial, serif
}

.ql-editor .ql-font-monospace {
    font-family: Courier New, monospace
}

.ql-editor .ql-size-small {
    font-size: 6.75pt
}

.ql-editor .ql-size-large {
    font-size: 14.25pt
}

.ql-editor .ql-size-huge {
    font-size: 24pt
}

.ql-editor .ql-align-center {
    text-align: center
}

.ql-editor .ql-align-justify {
    text-align: justify;
    white-space: normal
}

.ql-editor .ql-align-right {
    text-align: right
}

.ql-editor .ql-hidden {
    display: none
}

.ql-editor .ql-out-bottom, .ql-editor .ql-out-top {
    visibility: hidden
}

.ql-editor .ql-formats {
    display: inline-block;
    vertical-align: middle
}

.ql-editor .ql-formats:after {
    clear: both;
    content: '';
    display: table
}

.ql-editor .ql-direction svg:last-child {
    display: none
}

.ql-editor .ql-direction.ql-active svg:last-child {
    display: inline
}

.ql-editor .ql-direction.ql-active svg:first-child {
    display: none
}

.ql-editor h1 {
    font-size: 18.5pt;
    font-weight: bold;
    margin: 6pt 0pt;
    text-align: left;
}

.ql-editor h2 {
    font-size: 14.25pt;
    font-weight: bold;
    margin: 7.5pt 0pt;
    text-align: left;
}

.ql-editor h3 {
    font-size: 11.25pt;
    font-weight: bold;
    margin: 9.75pt 0pt;
    text-align: left;
}

.ql-editor h4 {
    font-size: 12pt;
    font-weight: bold;
    margin: 12.75pt 0pt;
    text-align: left;
}

.ql-editor h5 {
    font-size: 7.5pt;
    font-weight: bold;
    margin: 15.75pt 0pt;
    text-align: left;
}

.ql-editor h6 {
    font-size: 6pt;
    font-weight: bold;
    margin: 22.5pt 0pt;
    text-align: left;
}

.ql-editor a {
    text-decoration: underline
}

.ql-editor pre {
    white-space: pre-wrap;
    margin-bottom: 3.75pt;
    margin-top: 3.75pt;
    padding: 3.75pt 7.5pt
}

.ql-editor code {
    font-size: 85%;
    padding-bottom: 1.5pt;
    padding-top: 1.5pt
}

.ql-editor code:before, .ql-editor code:after {
    content: "\A0";
    letter-spacing: -1.5pt
}

.ql-editor pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible
}

.ql-editor a {
    color: #06c
}

.ql-editor img {
    max-width: 100%;
    height:auto;
    vertical-align: middle
}

.ql-container.ql-editor {
    border: 1px solid #ccc
}
.ql-editor p {
     margin: 9.75pt 0;
}
body {
    font-size: 12pt;
}

